.rewards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
  }
  
  .user-points-header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .user-points-header h2 {
    font-size: 1.8rem;
    color: #365f7b;; /*brand color for the points header */
  }
  
  .reward-card {
    width: 100%;
    max-width: 400px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .reward-card h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
  }
  
  .reward-card p {
    font-size: 1rem;
    color: #555;
  }
  
  .reward-points {
    display: block;
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #365f7b; /*brand color for points display */
  }
  